.authentication-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authentication-form-paper {
    width: 100%;
    max-width: 500px; /* Default max width */
  }
  
  @media (min-width: 768px) {
    .paper {
      max-width: 800px; /* Wider on larger screens */
    }
  }